
**/*.pyc
**/__pycache__

.vscode
.DS_Store

*.sqlite3
**/*.log
**/*.csv

*.env

venv
node_modules
monitor_ref
logs

/backend/crypto_bot/migrations/
/backend/bitcoin_arbitrage/migrations/
/backend/accounts/migrations/
